
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
h1 i &hearts; PowerShell
hr
h3 Listed RESTful API is Powered by PowerShell
hr
a(href='http://localhost:3000/GetCategories') Get Zomato Categories
br
br
a(href='http://localhost:3000/GetCategories') Get City Information
br
hr
h3 Listed pages using widgets are Powered by Zomato!
hr 
br
a(href='http://localhost:3000/NearByRestaurant' target="_blank") Nearby Restaurant
br
br
a(href='http://localhost:3000/RestaurantCollection' target="_blank") Restaurant Collection 
br
br
a(href='http://localhost:3000/RestaurantSearch' target="_blank") Restaurant Search 
br